.icon-button {
    background: none;
    border: none;
    color: inherit;
}

.leftHeight {
    height: 55px;
    padding: 0.75rem 1.25rem;
}

.mr-5 {
    padding-left: 5px;
}

.c-link {
    cursor: pointer;
}

.start-page {
    font-size: 30px;
    height: 300px;
    line-height: 300px;
    color: #ccc;
    text-align: center;
}

.left-panel {
    height: 100vh;
    position: relative;
    background: rgb(252, 252, 252);
}

.button-group {
    position: absolute;
    width: 100%;
    bottom: 0;
}